@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kode Mono';
}

.header{
    text-align: center;
    padding:30px;
    font-size: 40px;
}

.add-button{
    width:200px;
    height:200px;
    border-radius: 30px;
}

.add-button .add-icon{
    width: 50%;
}

.form-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    display: grid;
    justify-items: center;
    width:500px;
    padding:40px;
    background:#EADFB4;
    border-radius: 20px;
}

.form-modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.close-section{
    width: 100%;
    text-align: right;
}

.close-icon{
    width:30px;
    height:30px;
    border-radius:50px;
}

.form-modal .add{
    width:100px;
    border-radius: 5px;
    padding:10px;
}

form{
    display: grid;
    gap:15px;
}

h2{
    text-align: center;
}

.input-row label:not(last-child){
    display: block;
}

.overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(232, 215, 140, 0.5);
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

button{
    cursor: pointer;
}

.books-container{
    padding:20px;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(400px,1fr));
}

.book-card{
    display: flex;
    flex-direction: column;
    gap:20px;
    width:400px;
    padding:10px;
    border-radius: 5px;
    background:#CCD3CA;
}

.book-card h2{
    font-size: 20px;
}

.button-div{
    display: flex;
    gap:10px;
    justify-content: center;
}

.button-div button{
    width:150px;
    padding:10px;
}
    